/* docs page */
/* base */
@font-face {
  font-family: "Lato";
  src: url("https://download.pingcap.com/fonts/lato/lato-regular-webfont.eot"), url("https://download.pingcap.com/fonts/lato/lato-regular-webfont.ttf"), url("https://download.pingcap.com/fonts/lato/lato-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TitilliumWeb";
  src: url("https://download.pingcap.com/fonts/titilliumweb/titilliumweb-regular-webfont.eot"), url("https://download.pingcap.com/fonts/titilliumweb/titilliumweb-regular-webfont.ttf"), url("https://download.pingcap.com/fonts/titilliumweb/titilliumweb-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", Arial, sans-serif;
}
html,
body {
  font-size: 18px;
}
body,
body * {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
input,
button,
select,
textarea {
  outline: none;
}
button,
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
}
a,
p a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.15s ease-out;
}
h1,
h2,
h3,
h4 {
  font-family: "TitilliumWeb", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", Arial, sans-serif;
}
.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}
.container {
  max-width: 1288px;
  margin: 0 auto;
}
.f-blk,
.f-img,
.f-link {
  display: block;
  width: 100%;
  height: 100%;
}
.f-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.f-hide {
  display: none;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-tf {
  text-align: left;
}
.f-tr {
  text-align: right;
}
.f-tc {
  text-align: center;
}
.f-vc {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.f-vhc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* 大屏幕 */
@media (min-width: 992px) {
  html,
  body {
    font-size: 20px;
  }
}
/* 超大屏幕 */
@media (min-width: 1920px) {
  html,
  body {
    font-size: 22px;
  }
  .container {
    max-width: 1520px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
}
/* header module */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .285);
  z-index: 1001;
}
/* For Typography */
.ul-base {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-btn {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 30px;
  line-height: 28px;
  margin: 12px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav-btn.nav-slider {
  float: left;
}
.nav-btn.search {
  display: none;
}
.nav-btn i {
  vertical-align: middle;
}
.nav-brand {
  display: block;
  height: 32px;
}
.nav-brand img {
  display: block;
  height: 100%;
}
.global-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: calc(20px + 1rem);
  height: 36px;
  background: transparent;
  transition: background 0.3s ease, width 0.3s ease, -webkit-transform 0.3s ease;
  transition: background 0.3s ease, transform 0.3s ease, width 0.3s ease;
  transition: background 0.3s ease, transform 0.3s ease, width 0.3s ease, -webkit-transform 0.3s ease;
}
.global-search button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  padding: 0;
}
.global-search button.btn-cancel {
  right: 8px;
  right: 0.5rem;
  top: 10.5px;
}
.global-search .search-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 192px;
  width: 12rem;
  height: inherit;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .2);
  color: #f5f5f5;
}
.global-search .search-wrapper .icon-search {
  position: absolute;
  left: 8px;
  left: 0.5rem;
  top: 50%;
  margin-top: -9px;
}
.global-search #search-input {
  position: relative;
  width: 192px;
  width: 12rem;
  height: 100%;
  padding: 4.8px 8px 4.8px 32px;
  padding: 0.3rem 0.5rem 0.3rem 2rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* -----------------------------------------------------
   Nav
-------------------------------------------------------- */
nav.mobile-sidebar {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: -210px;
  width: 210px;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, .9);
  transition: all 0.3s ease;
  opacity: 0.9;
  z-index: 1002;
}
nav.mobile-sidebar .nav-header {
  display: block;
}
nav.mobile-sidebar .nav-header .logo-wrap {
  padding: 9.6px 12px;
  padding: 0.6rem 0.75rem;
}
nav.mobile-sidebar .nav-header .logo-wrap .nav-brand {
  height: 30px;
}
nav.mobile-sidebar .nav-header .logo-wrap .logo-icon {
  display: inline-block;
  text-decoration: none;
}
nav.mobile-sidebar .nav-header .logo-wrap .logo-icon img {
  display: block;
  border-radius: 50%;
}
nav.mobile-sidebar .nav-header .global-search,
nav.mobile-sidebar .nav-header .search-wrapper,
nav.mobile-sidebar .nav-header #search-input {
  width: 100%;
}
nav.mobile-sidebar .nav-header .global-search.global-search,
nav.mobile-sidebar .nav-header .search-wrapper.global-search,
nav.mobile-sidebar .nav-header #search-input.global-search {
  height: 40px;
}
nav.mobile-sidebar .nav-header .global-search.search-wrapper,
nav.mobile-sidebar .nav-header .search-wrapper.search-wrapper,
nav.mobile-sidebar .nav-header #search-input.search-wrapper {
  border-radius: 0;
}
nav.mobile-sidebar.open {
  left: 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .275);
  opacity: 1;
}
nav.mobile-sidebar .ul-base {
  margin: 10px 0;
}
nav.mobile-sidebar .ul-base li a:hover,
nav.mobile-sidebar .ul-base li.sel a {
  color: rgba(255, 255, 255, .5);
  transition: all 0.5s ease;
}
nav.mobile-sidebar .ul-base li a {
  display: block;
  width: 100%;
  padding: 4.8px 12px;
  padding: 0.3rem 0.75rem;
  font-size: 16px;
  letter-spacing: 1.5px;
}
nav.mobile-sidebar .nav-footer {
  position: absolute;
  bottom: 0;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .flex-list {
  padding: 0 12px;
  padding: 0 0.75rem;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0;
  margin: 0.75rem 0;
  border-top: 1px solid rgba(0, 0, 0, .155);
  border-bottom: 1px solid rgba(0, 0, 0, .155);
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social li {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-right: 1px solid rgba(0, 0, 0, .175);
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social li:last-child {
  border-right: 0;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social li a {
  display: block;
  color: #fff;
  font-size: 15px;
  padding: 2px;
  text-decoration: none;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social li a svg {
  fill: #fff;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social li a.twitter:hover svg {
  fill: #00baf0;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social li a.linkedin:hover svg {
  fill: #0079b2;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social li a.reddit:hover svg {
  fill: #dd0008;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social li a.google-plus:hover svg {
  fill: #c43c2c;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social li a.stack-overflow:hover svg {
  fill: #f48024;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social li a.wechat:hover svg {
  fill: #1aad19;
}
nav.mobile-sidebar .nav-footer .contact-list-wrap .social-cn li {
  width: 16.66666667%;
}
nav.mobile-sidebar .nav-footer .container {
  padding: 19.2px 12px;
  padding: 1.2rem 0.75rem;
}
nav.mobile-sidebar .nav-footer .container .copyright {
  padding: 0;
}
nav.mobile-sidebar .nav-footer #mc_embed_signup .response {
  padding-left: 12px;
  padding-left: 0.75rem;
}
body.banner-active header.fixed-top {
  position: relative;
  transition: top 0s;
  background-color: transparent;
}
body.banner-active.banner-active--scrolled header.fixed-top {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .9);
}
header {
  width: 100%;
  min-height: 48px;
  min-height: 3rem;
  padding: 0 16px;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, .9);
}
header.fixed-top {
  position: fixed;
  top: 0;
  z-index: 99;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav-wrapper .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 9.6px;
  margin: 0 0.6rem;
  font-size: 12.8px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: white;
}
header .nav-wrapper .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}
header .nav-wrapper .navigation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav-wrapper .navigation ul li a {
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  height: 2rem;
  padding: 8px 6.4px;
  padding: 0.5rem 0.4rem;
  letter-spacing: 1.5px;
}
header .nav-wrapper .navigation ul li a:hover,
header .nav-wrapper .navigation ul li.sel a {
  color: rgba(255, 255, 255, .5);
  transition: all 0.5s ease;
}
header .nav-wrapper .navigation a.link-download {
  height: 2em;
  min-width: 3.5em;
  padding: 0 1em;
  margin: 0 3.2px;
  margin: 0 0.2rem;
  border-radius: 0.9rem;
  text-align: center;
  background: #3a59f0;
}
header .nav-wrapper .navigation a.link-download svg {
  margin-left: 2px;
  margin-top: -6px;
}
header .nav-wrapper .navigation a.link-download:hover {
  background-color: white;
  color: #3a59f0;
  transition: all 0.5s ease;
}
header .nav-wrapper .navigation a.link-download:hover svg,
header .nav-wrapper .navigation a.link-download:hover svg * {
  fill: rgba(58, 89, 240, .7) !important;
}
@media only screen and (min-width: 880px) {
  .nav-btn {
    display: none;
  }
}
@media only screen and (max-width: 879px) {
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 3rem;
  }
  header .nav-brand {
    height: 28px;
  }
  header .nav-wrapper .navigation {
    display: none;
  }
  .nav-btn {
    text-align: center;
    background-color: rgba(0, 0, 0, .175);
  }
}
@media only screen and (max-width: 375px) {
  header .nav-brand {
    height: 24px;
  }
}
@media only screen and (max-width: 320px) {
  header .global-search .search-wrapper {
    width: 10rem;
  }
  header .global-search #search-input {
    width: 10rem;
  }
}
/* footer module */
#wechat {
  position: relative;
}
.subscribe {
  width: 100%;
  max-width: 192px;
  max-width: 12rem;
  margin-top: 20px;
}
.subscribe .form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe .form-control {
  width: calc(100% -  70px);
  height: 32px;
  background-color: rgba(255, 255, 255, .12);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 0;
  padding: 0 10px;
  color: #f5f5f5;
  font-size: 12px;
}
.subscribe .form-control:hover,
.subscribe .form-control:focus {
  border-color: rgba(58, 89, 240, .5);
}
.subscribe .btn {
  min-width: 70px;
  height: 32px;
  line-height: 32px;
  padding: 0 5px;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #3a59f0;
  font-size: 12px;
  color: white;
}
.subscribe .btn:hover {
  background-color: white;
  border-color: white;
  color: #3a59f0;
  transition: all 0.5s ease;
}
.qr_code_outer {
  position: absolute;
  right: 158px;
  top: -100px;
}
.qr_code_outer .qr_code {
  position: absolute;
  top: 0;
  left: 0;
  width: 158px;
  padding: 12px 15px;
  border: 1px solid #d9dadc;
  background-color: white;
  word-wrap: break-word;
  word-break: break-all;
}
.qr_code_outer .qr_code p {
  margin: 0;
  line-height: 1.5;
  font-size: 9.6px;
  font-size: 0.6rem;
  color: #333;
  font-weight: 300;
}
.qr_code_outer .qr_code .qr_code_img {
  width: 116px;
  height: 116px;
}
.qr_code_outer #close_qrcode {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 10px;
}
.qr_code_outer #close_qrcode svg {
  display: block;
}
.copyright {
  padding: 0 12px;
  padding: 0 0.75rem;
  font-size: 11.2px;
  font-size: 0.7rem;
  font-weight: 300;
  color: rgba(255, 255, 255, .7);
}
.btn-lang {
  font-size: 11.2px;
  font-size: 0.7rem;
  color: white;
  text-decoration: underline;
}
.btn-lang:hover {
  color: #3a59f0;
  transition: all 0.5s ease;
}
/** add ellipsis in a line **/
footer {
  width: 100%;
  padding: 24px 0;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(255, 255, 255, .3);
  background-color: rgba(0, 0, 0, .9);
  color: white;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .flex-list h4 {
  margin-bottom: 20px;
  font-size: 18px;
}
footer .flex-list ul {
  padding-left: 0;
  list-style: none;
}
footer .flex-list ul li {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, .7);
  font-weight: 300;
}
footer .flex-list ul li a {
  color: inherit;
  font-weight: inherit;
}
footer .flex-list ul li a svg {
  fill: #fff;
  margin-right: 4px;
}
footer .flex-list ul li a.twitter:hover svg {
  fill: #00baf0;
}
footer .flex-list ul li a.linkedin:hover svg {
  fill: #0079b2;
}
footer .flex-list ul li a.reddit:hover svg {
  fill: #d80000;
}
footer .flex-list ul li a.google-plus:hover svg {
  fill: #c43c2c;
}
footer .flex-list ul li a.stack-overflow:hover svg {
  fill: #f48024;
}
footer .flex-list ul li a.wechat:hover svg {
  fill: #1aad19;
}
footer .flex-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 74%;
}
footer .flex-list-wrap .flex-list {
  -webkit-box-flex: 24%;
      -ms-flex: 24%;
          flex: 24%;
  padding: 0 12px;
  padding: 0 0.75rem;
}
footer .contact-list-wrap {
  width: 25%;
  border-left: 1px solid rgba(255, 255, 255, .3);
  padding-left: 40px;
}
footer .contact-list-wrap ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 880px) {
  footer {
    height: 350px;
  }
}
@media (max-width: 879px) {
  footer .container,
  footer .flex-list-wrap,
  footer .contact-list-wrap {
    display: block;
    width: 100%;
    text-align: center;
  }
  footer .container .flex-list,
  footer .flex-list-wrap .flex-list,
  footer .contact-list-wrap .flex-list {
    width: 100%;
  }
  footer .contact-list-wrap {
    display: none;
  }
  footer .btn-lang {
    display: none;
  }
}
/* tree navigator */
.sidebar {
  max-width: 184px;
  max-width: 11.5rem;
  min-height: 100vh;
}
.sidebar ul li {
  list-style: none;
}
.sidebar .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #142848;
}
.sidebar .rss {
  width: 17.6px;
  width: 1.1rem;
  height: 17.6px;
  height: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  color: #3a59f0;
}
.sidebar .rss:hover {
  border-color: #3a59f0;
  background-color: #3a59f0;
  color: white;
}
.sidebar .rss:hover svg * {
  fill: white;
}
.sidebar .all {
  display: inline-block;
  padding: 3px 9px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  color: #333;
}
.sidebar .all.sel,
.sidebar .all:hover {
  background-color: #3a59f0;
  color: #fff;
  border: 1px solid #3a59f0;
}
.sidebar .tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 12px 0 0 -6px;
  padding: 0;
}
.sidebar .tag-list a.tag {
  padding: 3px 9px;
  border: 1px solid #cdcdcd;
  margin: 6px;
  font-size: 14px;
  color: #333;
}
.sidebar .tag-list a.sel,
.sidebar .tag-list a.tag:hover {
  background-color: #3a59f0;
  color: #fff;
  border: 1px solid #3a59f0;
}
.sidebar .st_tree {
  width: 100%;
  padding-left: 0;
}
.sidebar .st_tree ul {
  padding-left: 12.8px;
  padding-left: 0.8rem;
}
.sidebar .st_tree > ul {
  padding-left: 0;
}
.sidebar .st_tree li {
  position: relative;
}
.sidebar .st_tree li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 4.8px;
  padding: 0.3rem;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}
.sidebar .st_tree .folder .icon {
  margin-right: 4.8px;
  margin-right: 0.3rem;
  width: 10px;
  height: 10px;
  background-image: url('/images/icon-arrow-right.svg');
  background-size: 10px 10px;
}
.sidebar .st_tree .open > a .icon {
  width: 10px;
  height: 10px;
  background-image: url('/images/icon-arrow-down.svg');
  background-size: 10px 10px;
}
.sidebar .st_tree li.leaf-child svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 4.8px;
  margin-right: 0.3rem;
}
.sidebar .st_tree li.leaf-child.active a {
  color: #3a59f0;
}
.sidebar .st_tree li.leaf-child.active svg {
  fill: #3a59f0;
}
.sidebar .nav-toc .folder .icon,
.sidebar .nav-toc .open > a .icon {
  margin-left: 6.4px;
  margin-left: 0.4rem;
}
.sidebar .nav-toc .open ul li a {
  border-left: 1px solid rgba(58, 89, 240, .5);
}
.sidebar .nav-toc .open ul li.active a {
  border-left: 4px solid #3a59f0;
}
/* The sticky */
@media (min-width: 600px) {
  .sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 20px 0;
  }
  .sidebar .sticky-sidebar {
    max-height: calc(100vh - 3rem);
    overflow: auto;
  }
}
.blog .ssba a {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  margin: 10px 10px 10px 0;
  border-radius: 50%;
  border: 1px solid;
  opacity: 0.8;
}
.blog .ssba a.ssba_twitter_share {
  border-color: #00baf0;
}
.blog .ssba a.ssba_twitter_share svg {
  fill: #00baf0;
}
.blog .ssba a.ssba_reddit_share {
  border-color: #d80000;
}
.blog .ssba a.ssba_facebook_share {
  border-color: #385c8e;
}
.blog .ssba a.ssba_linkedin_share {
  border-color: #0079b2;
}
.blog .ssba a.ssba_linkedin_share svg {
  fill: #0079b2;
}
.blog .ssba a.ssba_hackernews_share {
  border-color: #f60;
}
.blog .ssba a.ssba_hackernews_share svg {
  fill: #f60;
}
.blog .ssba a.ssba_mail_share {
  border-color: #93abbd;
}
.blog .ssba a.ssba_mail_share svg {
  fill: #93abbd;
}
.blog .ssba a.ssba_wechat_share {
  border-color: #1aad19;
}
.blog .ssba a.ssba_wechat_share svg {
  fill: #1aad19;
}
.blog .ssba a.ssba_weibo_share {
  border-color: #d93c1c;
}
.blog .ssba a:hover {
  opacity: 1;
}
@media (min-width: 880px) {
  .blog .ssba-wrap {
    display: block;
    position: fixed;
    top: 120px;
    right: 0;
    padding-right: 25px;
  }
}
@media (max-width: 879px) {
  .blog .ssba-wrap .ssba {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 25px;
  }
}
/** documentation list **/
.doc,
.blog,
.meetup,
.recruit,
.weekly {
  min-height: calc(100vh - 350px);
  padding: 0 16px;
  padding: 0 1rem;
}
.doc .container,
.blog .container,
.meetup .container,
.recruit .container,
.weekly .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.doc .archive,
.blog .archive,
.meetup .archive,
.recruit .archive,
.weekly .archive,
.doc .list,
.blog .list,
.meetup .list,
.recruit .list,
.weekly .list,
.doc .sidebar,
.blog .sidebar,
.meetup .sidebar,
.recruit .sidebar,
.weekly .sidebar,
.doc .sidebar-page,
.blog .sidebar-page,
.meetup .sidebar-page,
.recruit .sidebar-page,
.weekly .sidebar-page {
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
}
.doc .sidebar,
.blog .sidebar,
.meetup .sidebar,
.recruit .sidebar,
.weekly .sidebar,
.doc .sidebar-page,
.blog .sidebar-page,
.meetup .sidebar-page,
.recruit .sidebar-page,
.weekly .sidebar-page {
  min-height: calc(100vh - 350px);
}
.doc.doc .sidebar,
.blog.doc .sidebar,
.meetup.doc .sidebar,
.recruit.doc .sidebar,
.weekly.doc .sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 184px;
          flex: 0 0 184px;
  -ms-flex: 0 0 11.5rem;
      flex: 0 0 11.5rem;
}
.doc .sidebar-page,
.blog .sidebar-page,
.meetup .sidebar-page,
.recruit .sidebar-page,
.weekly .sidebar-page {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  -ms-flex: 0 0 12.5rem;
      flex: 0 0 12.5rem;
}
.doc .sidebar-page .improve-doc,
.blog .sidebar-page .improve-doc,
.meetup .sidebar-page .improve-doc,
.recruit .sidebar-page .improve-doc,
.weekly .sidebar-page .improve-doc,
.doc .sidebar-page .pdf-link,
.blog .sidebar-page .pdf-link,
.meetup .sidebar-page .pdf-link,
.recruit .sidebar-page .pdf-link,
.weekly .sidebar-page .pdf-link,
.doc .sidebar-page .toc-title,
.blog .sidebar-page .toc-title,
.meetup .sidebar-page .toc-title,
.recruit .sidebar-page .toc-title,
.weekly .sidebar-page .toc-title {
  color: #142848;
  font-size: 14px;
  line-height: 20px;
}
.doc .sidebar-page .improve-doc svg,
.blog .sidebar-page .improve-doc svg,
.meetup .sidebar-page .improve-doc svg,
.recruit .sidebar-page .improve-doc svg,
.weekly .sidebar-page .improve-doc svg,
.doc .sidebar-page .pdf-link svg,
.blog .sidebar-page .pdf-link svg,
.meetup .sidebar-page .pdf-link svg,
.recruit .sidebar-page .pdf-link svg,
.weekly .sidebar-page .pdf-link svg,
.doc .sidebar-page .toc-title svg,
.blog .sidebar-page .toc-title svg,
.meetup .sidebar-page .toc-title svg,
.recruit .sidebar-page .toc-title svg,
.weekly .sidebar-page .toc-title svg {
  margin-right: 5px;
}
.doc .sidebar-page .improve-doc,
.blog .sidebar-page .improve-doc,
.meetup .sidebar-page .improve-doc,
.recruit .sidebar-page .improve-doc,
.weekly .sidebar-page .improve-doc,
.doc .sidebar-page .pdf-link,
.blog .sidebar-page .pdf-link,
.meetup .sidebar-page .pdf-link,
.recruit .sidebar-page .pdf-link,
.weekly .sidebar-page .pdf-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  margin-bottom: 10px;
}
.doc .sidebar-page .toc-title,
.blog .sidebar-page .toc-title,
.meetup .sidebar-page .toc-title,
.recruit .sidebar-page .toc-title,
.weekly .sidebar-page .toc-title {
  margin: 20px 0 10px;
}
.doc .archive,
.blog .archive,
.meetup .archive,
.recruit .archive,
.weekly .archive,
.doc .list,
.blog .list,
.meetup .list,
.recruit .list,
.weekly .list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: calc(100% - 24rem);
  padding: calc(3rem + 20px) 1rem 1.5rem;
}
.doc .archive h1,
.blog .archive h1,
.meetup .archive h1,
.recruit .archive h1,
.weekly .archive h1,
.doc .list h1,
.blog .list h1,
.meetup .list h1,
.recruit .list h1,
.weekly .list h1,
.doc .archive h2,
.blog .archive h2,
.meetup .archive h2,
.recruit .archive h2,
.weekly .archive h2,
.doc .list h2,
.blog .list h2,
.meetup .list h2,
.recruit .list h2,
.weekly .list h2,
.doc .archive h3,
.blog .archive h3,
.meetup .archive h3,
.recruit .archive h3,
.weekly .archive h3,
.doc .list h3,
.blog .list h3,
.meetup .list h3,
.recruit .list h3,
.weekly .list h3,
.doc .archive h4,
.blog .archive h4,
.meetup .archive h4,
.recruit .archive h4,
.weekly .archive h4,
.doc .list h4,
.blog .list h4,
.meetup .list h4,
.recruit .list h4,
.weekly .list h4 {
  font-weight: 400;
  color: #142848;
}
.doc .archive h1,
.blog .archive h1,
.meetup .archive h1,
.recruit .archive h1,
.weekly .archive h1,
.doc .list h1,
.blog .list h1,
.meetup .list h1,
.recruit .list h1,
.weekly .list h1 {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  font-size: 24px;
}
.doc .archive h2,
.blog .archive h2,
.meetup .archive h2,
.recruit .archive h2,
.weekly .archive h2,
.doc .list h2,
.blog .list h2,
.meetup .list h2,
.recruit .list h2,
.weekly .list h2 {
  font-size: 22px;
}
.doc .archive h3,
.blog .archive h3,
.meetup .archive h3,
.recruit .archive h3,
.weekly .archive h3,
.doc .list h3,
.blog .list h3,
.meetup .list h3,
.recruit .list h3,
.weekly .list h3 {
  font-size: 20px;
}
.doc .archive h4,
.blog .archive h4,
.meetup .archive h4,
.recruit .archive h4,
.weekly .archive h4,
.doc .list h4,
.blog .list h4,
.meetup .list h4,
.recruit .list h4,
.weekly .list h4 {
  font-size: 18px;
}
.doc .archive .content,
.blog .archive .content,
.meetup .archive .content,
.recruit .archive .content,
.weekly .archive .content {
  overflow-x: auto;
}
.doc .archive .content ol,
.blog .archive .content ol,
.meetup .archive .content ol,
.recruit .archive .content ol,
.weekly .archive .content ol,
.doc .archive .content p,
.blog .archive .content p,
.meetup .archive .content p,
.recruit .archive .content p,
.weekly .archive .content p,
.doc .archive .content table,
.blog .archive .content table,
.meetup .archive .content table,
.recruit .archive .content table,
.weekly .archive .content table,
.doc .archive .content ul,
.blog .archive .content ul,
.meetup .archive .content ul,
.recruit .archive .content ul,
.weekly .archive .content ul {
  margin: 11.2px 0;
  margin: 0.7rem 0;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
  color: #3e3e3e;
}
.doc .archive .content a,
.blog .archive .content a,
.meetup .archive .content a,
.recruit .archive .content a,
.weekly .archive .content a {
  color: #3a59f0;
}
.doc .archive .content img,
.blog .archive .content img,
.meetup .archive .content img,
.recruit .archive .content img,
.weekly .archive .content img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.doc .archive .content .blog-post-meta,
.blog .archive .content .blog-post-meta,
.meetup .archive .content .blog-post-meta,
.recruit .archive .content .blog-post-meta,
.weekly .archive .content .blog-post-meta {
  padding-left: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #6a737d;
  list-style: none;
}
.doc .archive .content .blog-post-meta svg,
.blog .archive .content .blog-post-meta svg,
.meetup .archive .content .blog-post-meta svg,
.recruit .archive .content .blog-post-meta svg,
.weekly .archive .content .blog-post-meta svg {
  width: 18px;
  height: 18px;
  margin-top: -3px;
  margin-right: 5px;
  fill: #37434e;
  vertical-align: middle;
}
.doc .archive .content .blog-post-meta .meta-item,
.blog .archive .content .blog-post-meta .meta-item,
.meetup .archive .content .blog-post-meta .meta-item,
.recruit .archive .content .blog-post-meta .meta-item,
.weekly .archive .content .blog-post-meta .meta-item {
  display: inline-block;
  box-sizing: border-box;
  padding-right: 16px;
  padding-right: 1rem;
}
.doc .archive .operate,
.blog .archive .operate,
.meetup .archive .operate,
.recruit .archive .operate,
.weekly .archive .operate {
  margin-top: 24px;
  margin-top: 1.5rem;
  border-top: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.doc .archive .operate .item a,
.blog .archive .operate .item a,
.meetup .archive .operate .item a,
.recruit .archive .operate .item a,
.weekly .archive .operate .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  margin-top: 1rem;
  font-size: 16px;
}
.doc .archive .operate .item a .icon,
.blog .archive .operate .item a .icon,
.meetup .archive .operate .item a .icon,
.recruit .archive .operate .item a .icon,
.weekly .archive .operate .item a .icon {
  margin-right: 6.4px;
  margin-right: 0.4rem;
}
.doc .markdown-body h1,
.blog .markdown-body h1,
.meetup .markdown-body h1,
.recruit .markdown-body h1,
.weekly .markdown-body h1,
.doc .markdown-body h2,
.blog .markdown-body h2,
.meetup .markdown-body h2,
.recruit .markdown-body h2,
.weekly .markdown-body h2 {
  border-bottom: none;
}
.doc .markdown-body h2,
.blog .markdown-body h2,
.meetup .markdown-body h2,
.recruit .markdown-body h2,
.weekly .markdown-body h2,
.doc .markdown-body h3,
.blog .markdown-body h3,
.meetup .markdown-body h3,
.recruit .markdown-body h3,
.weekly .markdown-body h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 1.6;
  padding: 0;
}
.doc .error,
.blog .error,
.meetup .error,
.recruit .error,
.weekly .error {
  color: #3a59f0;
  line-height: 1.7;
  font-size: 16px;
  margin: 20px 0;
}
.doc #smarttoc,
.blog #smarttoc,
.meetup #smarttoc,
.recruit #smarttoc,
.weekly #smarttoc {
  position: relative !important;
  left: auto !important;
  left: initial !important;
  max-width: 200px !important;
  max-width: 12.5rem !important;
  max-height: 100vh !important;
  padding: 0;
  border: none;
  border-color: transparent;
  border-left: 1px solid rgba(158, 158, 158, .22);
  -webkit-transform: none !important;
          transform: none !important;
  -webkit-transform: initial !important;
          transform: initial !important;
  z-index: auto;
}
.doc #smarttoc:hover,
.blog #smarttoc:hover,
.meetup #smarttoc:hover,
.recruit #smarttoc:hover,
.weekly #smarttoc:hover {
  max-width: 200px !important;
  max-width: 12.5rem !important;
}
.doc #smarttoc ul,
.blog #smarttoc ul,
.meetup #smarttoc ul,
.recruit #smarttoc ul,
.weekly #smarttoc ul {
  padding: 0 0 0 1em !important;
}
.doc #smarttoc a,
.blog #smarttoc a,
.meetup #smarttoc a,
.recruit #smarttoc a,
.weekly #smarttoc a {
  white-space: normal !important;
  word-wrap: break-word;
}
.doc #smarttoc ul ul a,
.blog #smarttoc ul ul a,
.meetup #smarttoc ul ul a,
.recruit #smarttoc ul ul a,
.weekly #smarttoc ul ul a {
  padding-left: 19.2px;
  padding-left: 1.2rem;
}
.doc #smarttoc ul ul a:active,
.blog #smarttoc ul ul a:active,
.meetup #smarttoc ul ul a:active,
.recruit #smarttoc ul ul a:active,
.weekly #smarttoc ul ul a:active,
.doc #smarttoc ul ul a:hover,
.blog #smarttoc ul ul a:hover,
.meetup #smarttoc ul ul a:hover,
.recruit #smarttoc ul ul a:hover,
.weekly #smarttoc ul ul a:hover,
.doc #smarttoc ul ul li.active > a,
.blog #smarttoc ul ul li.active > a,
.meetup #smarttoc ul ul li.active > a,
.recruit #smarttoc ul ul li.active > a,
.weekly #smarttoc ul ul li.active > a {
  padding-left: calc(1.2rem - 2px);
}
.doc .git-info,
.blog .git-info,
.meetup .git-info,
.recruit .git-info,
.weekly .git-info {
  margin-top: 80px;
  margin-top: 5rem;
  padding: 16px 11.2px;
  padding: 1rem 0.7rem;
  background-color: rgba(27, 31, 35, .05);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  color: #3e3e3e;
}
.doc .git-info a,
.blog .git-info a,
.meetup .git-info a,
.recruit .git-info a,
.weekly .git-info a {
  padding: 0 2px;
  color: #3a59f0;
}
#smarttoc-extender {
  display: none !important;
}
@media (min-width: 880px) {
  .blog .sidebar,
  .meetup .sidebar,
  .recruit .sidebar,
  .weekly .sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14rem;
            flex: 0 0 14rem;
    max-width: 14rem;
  }
  .blog .nav-tags,
  .meetup .nav-tags,
  .recruit .nav-tags,
  .weekly .nav-tags {
    padding: calc(3rem + 20px) 0 20px;
  }
  .blog .archive,
  .meetup .archive,
  .recruit .archive,
  .weekly .archive,
  .blog .list,
  .meetup .list,
  .recruit .list,
  .weekly .list {
    max-width: calc(100% - 15rem);
    padding-right: 2.5rem;
  }
  .blog .content {
    margin-right: 1rem;
  }
  .meetup .list,
  .recruit .list,
  .weekly .list,
  .meetup .archive,
  .recruit .archive,
  .weekly .archive {
    padding-left: 3rem;
  }
}
@media (max-width: 879px) {
  .blog .container,
  .doc .container,
  .meetup .container,
  .recruit .container,
  .weekly .container {
    display: block;
  }
  .blog .archive,
  .doc .archive,
  .meetup .archive,
  .recruit .archive,
  .weekly .archive,
  .blog .list,
  .doc .list,
  .meetup .list,
  .recruit .list,
  .weekly .list {
    max-width: 100%;
    margin: 20px 0;
    padding: 25px 0 !important;
  }
  .blog .sidebar,
  .doc .sidebar,
  .meetup .sidebar,
  .recruit .sidebar,
  .weekly .sidebar {
    padding-top: 100px;
    max-width: 100%;
    min-height: 100%;
    overflow: auto;
  }
  .blog .sidebar-page,
  .doc .sidebar-page,
  .meetup .sidebar-page,
  .recruit .sidebar-page,
  .weekly .sidebar-page {
    min-height: 100%;
    padding-bottom: 20px;
  }
  .blog .sidebar-page #smarttoc,
  .doc .sidebar-page #smarttoc,
  .meetup .sidebar-page #smarttoc,
  .recruit .sidebar-page #smarttoc,
  .weekly .sidebar-page #smarttoc {
    max-width: 100% !important;
  }
  .blog .archive,
  .recruit .archive,
  .meetup .archive,
  .blog .list,
  .recruit .list,
  .meetup .list {
    margin-top: 60px;
  }
}
.recruit .archive h2 {
  font-size: 19px;
}
.recruit .archive h3 {
  font-size: 17px;
}
.recruit .archive p {
  font-size: 15px;
}
@media (max-width: 320px) {
  .blog .archive .operate .item a .icon,
  .doc .archive .operate .item a .icon,
  .meetup .archive .operate .item a .icon,
  .recruit .archive .operate .item a .icon,
  .weekly .archive .operate .item a .icon {
    margin-right: 4px;
  }
}
/**
 * Print stylesheet for yourwebsite.com
* @version         1.0
* @lastmodified    16.06.2016
*/
@media print {
  @page {
    size: A4 portrait;
    margin: 3.7cm 2.6cm 3.5cm;
  }
  /* 把字体设置为16px/13pt, 把背景色设为纯白、字体纯黑，这样省墨。 */
  body {
    font: 13pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
  }
  h1 {
    font-size: 24pt;
  }
  h2,
  h3,
  h4 {
    font-size: 14pt;
    margin-top: 25px;
  }
  /* 设置所有的分页符 */
  a {
    page-break-inside: avoid;
  }
  a::after {
    content: "(" attr(href) ")";
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  ul,
  ol,
  dl {
    page-break-before: avoid;
  }
  thead,
  tfoot {
    display: table-row-group;
  }
  nav,
  aside {
    display: none;
  }
  header,
  footer,
  .sidebar,
  .sidebar-page {
    display: none;
  }
}
